* {
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI Light" ! important;
	font-style: normal ! important;
	font-variant: normal ! important;
	color: #1a1a1a ! important;
}

h1 {
	color: #00003b ! important;
}

.subnav-row {
	text-align: center ! important;
	align-content: center ! important;
}

/* Create five equal columns that float next to each other */
.subnav-column {
	float: left;
	width: 20%;
	display: grid;
}

.active-nav {
	color: #252728 ! important;
	text-decoration: underline #3079c2 ! important;
}

.active-subnav {
	color: #3079c2 ! important;
	background-color: #b5ebff;
	text-decoration: underline #252728 ! important;
}

#navbar-item {
	font-size: 1.5em;
	color: #3079c2;
}

#subnavbar-item {
	font-size: 1em;
	color: #252728;
	font-weight: bold;
}

#navbar-item:hover {
	color: #252728 ! important;
}

#subnavbar-item:hover {
	color: #3079c2 ! important;
	background-color: transparent; ! important;
}

#navbar-item:hover, #subnavbar-item:hover {
	background-color: transparent ! important;
}

#home {
	width: 80%;
	margin-left: 10%;
}

.heading {
	text-align: center;
	padding-bottom: 0.5em;
	font-size: 3.5em;
}

.body-text {
	font-size: 1.15em;
	color: #1a1a1a;
	margin-left: 10%;
	width: 80%;
}

.socialmedia {
	color: #00003b;
	width: 30%;
	margin-left: 35%;
	border-style: solid;
	border-width: 2px;
	border-color: #f2f2f2;
	border-radius: 20px;
	text-align: center;
	margin-top: 3em;
}

.socialmedia a:hover {
	text-decoration: none;
}

#socials {
	padding-top: 0.75em;
	padding-bottom: 1em;
}

#myCarousel {
	/*margin-top: 6em;*/
}

#carousel-img {
	width:100%;
	height: 40em;
	align-content: center;
}

.active { /* Active carousel image indicator */
	background-color: #3079c2 ! important;
	border-color: transparent ! important;
}

/* Create three equal columns that floats next to each other */
.event-column {
	float: left;
	width: 33.33%;
	align-content: center;
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
	text-align: center;
}

#event-img {
	max-width:175px;
	max-height: 175px;
	border: 1px solid navy;
	border-radius: 10px;
	padding: 5px;
}

.footer-column{
	float: left;
	width: 25%;
	align-content: center;
	/*padding: 5em;*/
	text-align: center;
	color: #00003b;
	background-color: transparent ! important;
}

.footer-row {
	padding-bottom: 1em;
	width: 80%;
	margin-left: 10%;
}

footer {
	margin-top: 5em;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #f2f2f2;
}

/* Clear floats after the columns */
.event-row:after,
.footer-row:after {
	content: "";
	display: table;
	clear: both;
}

#footer-heading {
	font-size: 1.25em;
}

.footer-link, .footer-link:hover {
	color: #00003b;
}

#myBtn {
	border-radius: 50px;
	padding: 7px;
	background-color: #3079c2;
	color: white;
	font-size: 1.15em;
	width: 70%;
	border-style: none;
}

#event-img {
	height: 25em;
	width: 25em;
}

.eventTitle {
	font-size: 2em;
}

.eventDate {
	font-size: 1.25em;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
/* scrollable */
.container {
	border:2px solid #ccc;
	width:300px;
	height: 300px;
	overflow-y: scroll;

}
