@import "layout.css";
* {
	box-sizing: border-box;
}

body { 
	font-family: hero-new ! important; 
	font-style: normal ! important; 
	font-weight: 200;
	font-variant: normal ! important;
	color: #1a1a1a ! important;
}

h1 {
	font-family: hero-new, sans-serif  ;
	/* color: #00003b ! important; */
	font-weight: 100 ! important;
	margin-top: 60px ! important;
}
h2,h3{
	font-weight: 200 ! important;
}
html {
	font-family: hero-new, sans-serif ! important;

}
.accented{
	font-family: "smoothy",sans-serif; 
	color:#FF7A3B  !important;
	font-size: 70px;
	font-style:italic;
}
w3-bar{
	background-color: #f5f1ed;
}
w3-container{
	position:absolute;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

.subnav-row {
	text-align: center ! important;
	align-content: center ! important;
}

/* Create equal columns that float next to each other */
.subnav-column3 {
	float: left;
	width: calc(100%/3);
	display: grid;
}
.subnav-column4 {
	float: left;
	width: calc(100%/3);
	display: grid;
}
.subnav-column5 {
	float: left;
	width: calc(100%/5);
	display: grid;
}


.active-nav {
	color: #252728 ! important;
	text-decoration: underline #FF7A3B ! important;
}

.active-subnav {
	color: #3079c2 ;
	background-color: #B5EBFF;
	text-decoration: underline #FF7A3B ! important;
}

#navbar-item {
	font-size: 1.5em; 
	color: #3079c2; 
}

#subnavbar-item {
	font-size: 1em; 
	color: #25467A;
	font-weight: 200;
}

#navbar-item:hover {
	color: #252728 ! important;
	text-decoration: underline #FF7A3B;
}

#subnavbar-item:hover {
	color: #3079c2 ! important;
	text-decoration: underline #FF7A3B;
	background-color: transparent ! important;
}

#navbar-item:hover, #subnavbar-item:hover {
	background-color: transparent ! important;
}

#home {
	width: 80%;
	margin-left: 10%;
} 
#home-carousel {
    margin-left: 5%;
    margin-right: 5%;
}

.heading {
	text-align: center;
	padding-bottom: 0.5em;
	font-size: 3.5em;
	color: #25467A
}

.body-text {
	font-size: 1.15em;
	color: #1a1a1a;
	margin-left: 10%;
	width: 80%;
}

.socialmedia {
	color: #00003b;
	width: 30%;
	margin-left: 35%;
	border-style: solid;
	border-width: 2px;
	border-color: #f2f2f2;
	border-radius: 20px;
	text-align: center;
	margin-top: 3em;
}

.socialmedia a:hover {
	text-decoration: none;
}

#socials {
	padding-top: 0.75em;
	padding-bottom: 1em;
}

#myCarousel {
	/*margin-top: 6em;*/

}
.carousel{

	border-radius: 20px;

}
/* .carousel-inner{
	border-radius: 20px;

} */
/* .carousel-control.left{
	border-radius: 20px;
}
.carousel-control.right{

	border-radius: 20px;
} */

.gradient-border {
	--borderWidth: 3px;
	background: #1D1F20;
	position: relative;
	border-radius: var(--borderWidth);
  }
  .gradient-border:after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	border-radius: calc(2 * var(--borderWidth));
	z-index: -1;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
	  0% {
		  background-position: 0% 50%;
	  }
	  50% {
		  background-position: 100% 50%;
	  }
	  100% {
		  background-position: 0% 50%;
	  }
  }
  
 

#carousel-img {
	width:100%;
	height: 40em;
	align-content: center;
	
}

.active { /* Active carousel image indicator */
	background-color: #3079c2 ! important;
	border-color: transparent ! important;
}

.events-center {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
}

.event-date {
  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
}

.events-column {
	width: 80%;
	height: 300px;
	border-radius: 15px;
}

#event-img {
	max-width:175px;
	max-height: 175px;
	border: 1px solid navy;
	border-radius: 10px;
	padding: 5px;
}

.footer-column {
	float: left;
	width: 25%;
	align-content: center;
	/*padding: 5em;*/
	text-align: center;
	color: #00003b;
	background-color: transparent ! important;
}

.footer-row {
	padding-bottom: 1em;
	width: 80%;
	margin-left: 10%;
}

footer {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: rgba(217, 217, 217, 0.1);
	background-color: rgba(217, 217, 217, 0.1);

}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

/* Clear floats after the columns */
.event-row:after,
.footer-row:after {
	content: "";
	display: table;
	clear: both;
}

#footer-heading {
	font-size: 1.25em;
}

.footer-link, .footer-link:hover {
	color: #00003b;
}

#myBtn {
	border-radius: 10px;
	padding: 7px;
	background-color: #25467A;
	color: white;
	font-size: 2em;
	width: 27% !important;
	border-style: none;
	font-weight: 100;
}

#event-img {
	height: 25em;
	width: 25em;
}

.eventTitle {
	font-size: 2em;
}

.eventDate {
	font-size: 1.25em;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}


.initiative{
   display: flex; 
   flex-direction: column; 
   align-items: center;
}

.init-event-grid{
   display: grid;
   grid-template-columns: auto 1fr;
   grid-gap:20px;
}

.hhButton, .gitButton, .nwButton{
/*  position: absolute;
    top: 50%;*/
   border-radius: 15px;
   padding: 10px;
   font-size:60px;
   display: initial;
   width: 80%;
   /*margin-left: 10%;*/
   border-style: none; 
   /* font-weight:normal; */

}

/* scrollable container */
.container {
	border:2px solid #ccc;
	height: 35em;
	overflow-y: scroll;

}

/* background */
/* $text: #fff;
$link: #e34234;
$link-hover: #ba160c;
$background: #00356B; */

/* canvas {
  display: block;
  vertical-align: bottom;
} */

#particles-js {
  /* position: absolute; */
  /* width: 100%; */
  /* margin-left: 10%;
  height: 100%; */
  background: #afcce9;
}

.topnav {
	padding-top:0px;
	overflow: hidden;
}
  
.topnav .icon {
	display: none;
}

@media screen and (min-width: 900px) {
	#navBar{
		padding-top:2.05em;
	}
}

@media screen and (max-width: 900px) {
	.topnav a:not(:last-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	  position: fixed;
	  right:10px;
	  top: 25px;
	}
}

@media screen and (max-width: 900px) {
	#navBar{
		padding-top:17px;
	}

	.topnav.responsive .icon {
	  position: fixed;
	  right: 10px;
	  top: 25px;
	}

	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
}

