@font-face {
    font-family: "Segoe UI Light";
    src: url("resources/font/segoeuilight/segoeuil.ttf");
    font-weight: lighter;

  }
  
/* @font-face {
    font-family: "Aileron Light";
    src: url("resources/font/Aileron-Light.otf");
  } */