@import "layout.css";

.row{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
}
.column {
    /* float: left; */
    /* width: 33.3%; */
    margin-bottom: 16px;
    padding: 0 8px;
    flex-direction: row;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #f5dec1 */
    /* box-sizing: border-box;*/
    /* width: 20rem;
    height: 20rem; */
    margin: 0px auto;
    padding: initial;
    background-color: initial;
    border-radius: 1e+09px; 
    
  }
  .image-holder{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  /* Some left and right padding inside the container */
  .team-container {
    padding: 0 16px;
    text-align: center;
  }
  
  /* Clear floats */
  .team-container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  #particles-js {
    /* position: absolute; */
    width: 100%;
    height: 100%; 
    background: #afcce9;
  }
  